@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Container for the car list */
.container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

/* Heading style */
h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

/* Style for each car item */
ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
}

li:last-child {
  margin-bottom: 0;
}

/* Styling for car information (make, model, year) */
li span {
  font-size: 1rem;
  font-weight: 600;
  color: #555;
}

/* Button styles */
button {
  padding: 8px 12px;
  margin-right: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #45a049;
}

/* Edit button style */
button:last-child {
  background-color: #008CBA;
}

button:last-child:hover {
  background-color: #007B9E;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input:focus {
  border-color: #4CAF50;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
  outline: none;
}

.loading-spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw; /* משתמש בכל רוחב הדפדפן */
  height: 100vh; /* משתמש בכל גובה הדפדפן */
  background: linear-gradient(135deg, #76c7c0, #348f50);
  color: #fff;
  font-family: 'Arial', sans-serif;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid rgba(255, 255, 255, 0.3);
  border-top: 5px solid #fff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 10px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

p {
  font-size: 1.2rem;
  margin-top: 10px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

body {
  margin: 0;
  overflow: hidden;
}